@model PagedList.PagedList<Web_Hutech_Gear.Models.EF.News>
@using PagedList.Mvc
<div class="full">
    @foreach (var item in Model)
    {
        <div class="blog_section">
            <div class="blog_feature_img"> <img class="img-responsive" src="@item.Image" alt="Hình ảnh"> </div>
            <div class="blog_feature_cantant">
                <p class="blog_head">@item.Title</p>
                <div class="post_info">
                    <ul>
                        <li><i class="fa fa-user" aria-hidden="true"></i> @item.NewsCategory.Title</li>
                        <li><i class="fa fa-comment" aria-hidden="true"></i> 5</li>
                        <li><i class="fa fa-calendar" aria-hidden="true"></i>@item.ModifiedDate.ToString("dd/MM/yyyy HH:mm")</li>
                    </ul>
                </div>
                <p>
                    @item.Description
                </p>
                <div class="bottom_info">
                    <div class="pull-left"><a class="btn sqaure_bt" href="/News/DetailNew?id=@item.Id">Đọc thêm<i class="fa fa-angle-right"></i></a></div>
                    <div class="pull-right">
                        <div class="shr">Chia sẽ: </div>
                        <div class="social_icon">
                            <ul>
                                <li class="fb"><a href="https://www.facebook.com/sharer/sharer.php?u=@Url.Encode(Request.Url.ToString())" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li class="twi"><a href="https://twitter.com/intent/tweet?url=@Url.Encode(Request.Url.ToString())" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li class="gp"><a href="https://plus.google.com/share?url=@Url.Encode(Request.Url.ToString())" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li class="pint"><a href="https://pinterest.com/pin/create/button/?url=@Url.Encode(Request.Url.ToString())" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Phân trang-->
    }
    <div class="row" style="justify-content: center">
        <div class="col-6" style="text-align:right;">
            @Html.PagedListPager(Model, page => Url.Action("Partial_News", new { page, currentFilter = ViewBag.CurrentFilte }), new PagedListRenderOptions { DisplayLinkToIndividualPages = true })
        </div>
    </div>
</div>


