@model Web_Hutech_Gear.Models.EF.Contact
@using Web_Hutech_Gear.Models.Support
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/contact/contact.css" rel="stylesheet" />
</head>
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">Liên Hệ</h1>
                            <ol class="breadcrumb">
                                <li><a href="/home/index">Trang Chủ</a></li>
                                <li class="active">Liên Hệ</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->
<div class="section padding_layout_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="full">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="main_heading text_align_center">
                                <h2>Liên Lạc</h2>
                            </div>
                        </div>
                        <div class="contact_information">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 adress_cont">
                                <div class="information_bottom text_align_center">
                                    <div class="icon_bottom"> <i class="fa fa-road" aria-hidden="true"></i> </div>
                                    <div class="info_cont">
                                        <h4>@SettingHelper.GetValue("SettingAddress")</h4>
                                        <p>Hutech Gear</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 adress_cont">
                                <div class="information_bottom text_align_center">
                                    <div class="icon_bottom"> <i class="fa fa-user" aria-hidden="true"></i> </div>
                                    <div class="info_cont">
                                        <h4>@SettingHelper.GetValue("SettingHotline")</h4>
                                        <p>Thứ 2 - Thứ 6 8:30 sáng - 6:30 tối</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 adress_cont">
                                <div class="information_bottom text_align_center">
                                    <div class="icon_bottom"> <i class="fa fa-envelope" aria-hidden="true"></i> </div>
                                    <div class="info_cont">
                                        <h4>@SettingHelper.GetValue("SettingEmail")</h4>
                                        <p>Hổ trợ trực tuyến 24/24</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contant_form">
                            <h2 class="text_align_center">Gửi tin nhắn</h2>
                            <div id="contact" class="request">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-md-7 ">
                                                    @using (Html.BeginForm("Contact", "Home", new { }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.ValidationSummary(true)
                                                        <div class="main_form">
                                                            <div class="row">
                                                                <div class="col-md-12 ">
                                                                    @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
                                                                    <input class="contactus" placeholder="Tên của bạn" type="text" name="Name">
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.ValidationMessageFor(x => x.PhoneNumber, null, new { @class = "text-danger" })
                                                                    <input class="contactus" placeholder="Số điện thoại" type="text" name="PhoneNumber">
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
                                                                    <input class="contactus" placeholder="Địa chỉ Email" type="text" name="email">
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.ValidationMessageFor(x => x.Message, null, new { @class = "text-danger" })
                                                                    <textarea class="textarea" placeholder="Tin nhắn" type="text" name="Message"></textarea>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <button class="send_btn" type="submit">Gửi ngay</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
