@using Web_Hutech_Gear.Models.EF
@model Product
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    IEnumerable<Product> listProduct = ViewBag.listProduct as IEnumerable<Product>;
    IEnumerable<Comment> listCommnet = ViewBag.listCommnet as IEnumerable<Comment>;
}
<!-- #region Điều hướng -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">Shop Detail</h1>
                            <ol class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">Shop Detail (@Model.Title)</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region chi tiết sản phẩm -->
<div class="section padding_layout_1 product_detail">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="product_detail_feature_img hizoom hi2" style="width: 400px; height: 400px;">
                            <div class="hizoom hi2" style="width: 400px; height: 400px;">
                                <div class="small" style="width: 400px; height: 400px;">
                                    <div class="magnifier" style="width: 200px; height: 200px; opacity: 0.7; background: rgb(255, 255, 255); display: none; left: 200px; top: 113px;"></div>
                                    <img src="@Model.Image" alt="" style="width: 400px; height: 400px;">
                                </div>
                                <div class="big" style="width: 400px; height: 400px; right: -420px; display: none;">
                                    @*<img src="@Model.Image" alt="#" style="width: 800px; height: 800px; left: -400px; top: -226px;">*@
                                </div>
                            </div>
                            <div class="small" style="width: 400px; height: 400px;"><div class="magnifier" style="width: 200px; height: 200px; opacity: 0.7; background: rgb(255, 255, 255);"></div><img src="images/it_service/1.jpg" alt="#" style="width: 400px; height: 400px;"></div><div class="big" style="width: 400px; height: 400px; right: -420px;"><img src="images/it_service/1.jpg" alt="#" style="width: 800px; height: 800px;"></div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 product_detail_side detail_style1">
                        <div class="product-heading">
                            <h2>@Model.Title</h2>
                        </div>
                        <div class="product-detail-side"> <span><del>@Model.PriceSale</del></span><span class="new-price">@Model.Price</span> <span class="rating"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </span> <span class="review">(5 customer review)</span> </div>
                        <div class="detail-contant">
                            <p>@Html.Raw(Model.Description)</p>
                            <form class="cart" method="post" action="it_cart.html">
                                <div class="quantity">
                                    <input step="1" min="1" max="5" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" type="number">
                                </div>
                                <button type="submit" class="btn sqaure_bt">Add to cart</button>
                            </form>
                        </div>
                        <div class="share-post">
                            <a href="#" class="share-text">Share</a>
                            <ul class="social_icons">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="full">
                            <div class="tab_bar_section">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#description">Description</a> </li>
                                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#reviews">Comment</a> </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div id="description" class="tab-pane active">
                                        <div class="product_desc">
                                            <p>@Html.Raw(Model.Detail)</p>
                                        </div>
                                    </div>
                                    <div id="reviews" class="tab-pane fade">
                                        <div class="product_review">
                                            <h3>Comment</h3>
                                            <!-- #region Bình luận -->
                                            @foreach (var item in listCommnet)
                                            {
                                                <div class="commant-text row">
                                                    <div class="col-lg-10 col-md-10 col-sm-8">
                                                        <h5>@item.User.FullName</h5>
                                                        <p><span class="c_date">@item.CreatedDate.ToString("dd-MM-yyyy")</span> </p>
                                                        <!-- #region rating -->
                                                        <span class="rating">
                                                            @switch (item.Rating)
                                                            {
                                                                case 1:
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    break;
                                                                case 2:
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    break;
                                                                case 3:
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    break;
                                                                case 4:
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    break;
                                                                case 5:
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                                    break;
                                                                default:
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                                    break;
                                                            }
                                                        </span>

                                                        <!-- #endregion -->

                                                        <p class="msg">
                                                            @item.Content
                                                        </p>
                                                    </div>
                                                </div>
                                            }
                                            <!-- #endregion -->
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="full review_bt_section">
                                                        <div class="float-right">
                                                            @if (Request.IsAuthenticated)
                                                            {
                                                                <a class="btn sqaure_bt" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Leave a Review</a>
                                                            }
                                                            else
                                                            {
                                                                <a class="btn sqaure_bt" href="/Account/Login">Login To Comment</a>
                                                                <a url=""></a>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="full">
                                                        <div id="collapseExample" class="full collapse commant_box">
                                                            @using (Html.BeginForm("comment", "Home", new { @productId = Model.Id, @strURL = Request.Url.ToString() }))
                                                            {
                                                                <!-- #region icon start -->
                                                                <div class="rate" id="rate" name="rate">
                                                                    <input type="radio" id="star5" name="rate" value="5" />
                                                                    <label for="star5" title="text">5 stars</label>
                                                                    <input type="radio" id="star4" name="rate" value="4" />
                                                                    <label for="star4" title="text">4 stars</label>
                                                                    <input type="radio" id="star3" name="rate" value="3" />
                                                                    <label for="star3" title="text">3 stars</label>
                                                                    <input type="radio" id="star2" name="rate" value="2" />
                                                                    <label for="star2" title="text">2 stars</label>
                                                                    <input type="radio" id="star1" name="rate" value="1" />
                                                                    <label for="star1" title="text">1 star</label>
                                                                </div>
                                                                <!-- #endregion -->
                                                                <input id="ratings-hidden" name="rating" type="hidden">
                                                                <textarea class="form-control animated" cols="50" id="new-review" name="content" placeholder="Enter your review here..." required=""></textarea>
                                                                <div class="full_bt center">
                                                                    <button class="btn sqaure_bt" type="submit">Save</button>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="full">
                            <div class="main_heading text_align_left" style="margin-bottom: 35px;">
                                <h3>Related products</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- #region Sản phẩm liên quan -->
                    @foreach (var item in listProduct)
                    {
                        if (item.IsHome)
                        {
                            <div class="col-md-4 col-sm-6 col-xs-12 margin_bottom_30_all">
                                <div class="product_list">
                                    <div class="product_img"> <img class="img-responsive" src="@item.Image" alt=""> </div>
                                    <div class="product_detail_btm">
                                        <div class="center">
                                            <h4><a href="~/Home/Detail?id=@item.Id">@item.Title</a></h4>
                                        </div>
                                        <div class="starratin">
                                            <div class="center">
                                                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div class="product_price">
                                            <p><span class="old_price">@item.PriceSale</span> – <span class="new_price">@item.Price</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <!-- #endregion -->
                </div>
            </div>
            <div class="col-md-3">
                <div class="side_bar">
                    <div class="side_bar_blog">
                        <h4>SEARCH</h4>
                        <div class="side_bar_search">
                            <div class="input-group stylish-input-group">
                                <input class="form-control" placeholder="Search" type="text">
                                <span class="input-group-addon">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="side_bar_blog">
                        <h4>GET A QUOTE</h4>
                        <p>An duo lorem altera gloriatur. No imperdiet adver sarium pro. No sit sumo lorem. Mei ea eius elitr consequ unturimperdiet.</p>
                        <a class="btn sqaure_bt" href="it_service.html">View Service</a>
                    </div>
                    <div class="side_bar_blog">
                        <h4>OUR SERVICE</h4>
                        <div class="categary">
                            <ul>
                                <li><a href="it_data_recovery.html"><i class="fa fa-angle-right"></i> Data recovery</a></li>
                                <li><a href="it_computer_repair.html"><i class="fa fa-angle-right"></i> Computer repair</a></li>
                                <li><a href="it_mobile_service.html"><i class="fa fa-angle-right"></i> Mobile service</a></li>
                                <li><a href="it_network_solution.html"><i class="fa fa-angle-right"></i> Network solutions</a></li>
                                <li><a href="it_techn_support.html"><i class="fa fa-angle-right"></i> Technical support</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="side_bar_blog">
                        <h4>RECENT NEWS</h4>
                        <div class="categary">
                            <ul>
                                <li><a href="it_data_recovery.html"><i class="fa fa-angle-right"></i> Land lights let be divided</a></li>
                                <li><a href="it_computer_repair.html"><i class="fa fa-angle-right"></i> Seasons over bearing air</a></li>
                                <li><a href="it_mobile_service.html"><i class="fa fa-angle-right"></i> Greater open after grass</a></li>
                                <li><a href="it_network_solution.html"><i class="fa fa-angle-right"></i> Gathered was divide second</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->