﻿@using Web_Hutech_Gear.Models
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- section -->
@{
    ApplicationDbContext db = new ApplicationDbContext();
}
<div id="slider" class="section main_slider">
        <div class="row">
            <section class="section-slide" style="padding-top:0px">
                <div class="wrap-slick1">
                    <div class="slick1">
                        @foreach (var item in db.Advs)
                        {
                            <div class="item-slick1" style="height: 720px; ">
                                <div class="container h-full">
                                    <div class="row h-full align-items-center" style="margin-left: -100px; margin-top: -50px;">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="content">
                                                <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                                                    <span class="ltext-101 cl2 respon2 title">
                                                        @item.Title
                                                    </span>
                                                </div>

                                                <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                                                    <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                                        <div class="description">
                                                            @item.Description
                                                        </div>
                                                    </h2>

                                                </div>

                                                <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                                                    <a href="@item.Link" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                                        Mua ngay
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="image">
                                                <div class="circle">
                                                    <img src="@item.Image" alt="Image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </section>

        </div>
    </div>
<!-- end section -->
<!-- section -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_center">
                        <h2>SẢN PHẨM CỦA CHÚNG TÔI</h2>
                        <p class="large">Chúng tôi gói các sản phẩm với dịch vụ tốt nhất để làm cho bạn một khách hàng hài lòng..</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Action("Partial_Products_Home", "Home")
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section padding_layout_1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_left">
                        <h2>Tin tức hấp dẫn từ chúng tôi</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Action("Partial_Products_News", "Home")
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section padding_layout_1" style="padding-top:50px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="contact_us_section">
                        <div class="call_icon"> <img src="~/Content/users/images/it_service/phone_icon.png" alt="#" /> </div>
                        <div class="inner_cont">
                            <h2>YÊU CẦU BÁO GIÁ MIỄN PHÍ</h2>
                            <p>Nhận câu trả lời và lời khuyên từ những người bạn muốn.</p>
                        </div>
                        <div class="button_Section_cont"> <a class="btn dark_gray_bt" href="/home/contact">Liên hệ chúng tôi</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section padding_layout_1" style="padding: 50px 0;">
    <div class="row">
        <div class="col-md-12">
            <div class="full">
                <ul class="brand_list">
                    @foreach (var item in db.Suppliers)
                    {
                        <li style="margin-bottom:10px"><img src="@item.Image" style="width:200px;height:100px" alt="#" /></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- Modal -->
<div class="modal fade" id="search_bar" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 offset-lg-2 offset-md-2 offset-sm-2 col-xs-10 col-xs-offset-1">
                        <div class="navbar-search">
                            <form action="#" method="get" id="search-global-form" class="search-global">
                                <input type="text" placeholder="Type to search" autocomplete="off" name="s" id="search" value="" class="search-global__input">
                                <button class="search-global__btn"><i class="fa fa-search"></i></button>
                                <div class="search-global__note">Begin typing your search above and press return to search.</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Model search bar -->
@section scripts{
    <script>
        const descriptions = document.querySelectorAll('.description');

        descriptions.forEach(description => {
            const parent = description.parentElement;
            parent.addEventListener('mouseover', () => {
                description.style.display = 'block';
            });
            parent.addEventListener('mouseout', () => {
                description.style.display = '-webkit-box';
            });
        });
        const title = document.querySelectorAll('.title');

        title.forEach(title => {
            const parent = title.parentElement;
            parent.addEventListener('mouseover', () => {
                title.style.display = 'block';
            });
            parent.addEventListener('mouseout', () => {
                title.style.display = '-webkit-box';
            });
        });
    </script>
}
<style>
    .section-slide {
        background-color: #FFF;
        font-family: Arial;
        padding: 50px 0;
    }

    .item-slick1 {
        position: relative;
    }

    .content {
        padding: 0 30px;
    }

    .ltext-101 {
        font-size: 48px;
        color: #FFF;
    }

    .ltext-201 {
        font-size: 36px;
        color: #FFF;
    }

    .image {
        text-align: center;
    }

    .circle {
        width: 800px;
        height: 400px;
        background-color: #FFF;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

        .circle img {
            max-width: 800px;
            max-height: 400px;
            background-color: transparent;
        }

    .title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        color: #212529;
    }

    .description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #212529;
    }

    .brand_list li img {
        filter: grayscale(100%);
    }

        .brand_list li img:hover {
            filter: grayscale(0);
        }
</style>
    ﻿