@using Web_Hutech_Gear.Models.Support
<!DOCTYPE html>
<html lang="vi">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>@SettingHelper.GetValue("SettingTitle")</title>
    <!-- site icons -->
    <link rel="icon" href="@SettingHelper.GetValue("SettingLogo")" type="image/gif" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Content/users/css/bootstrap.min.css" />
    <!-- Site css -->
    <link rel="stylesheet" href="~/Content/users/css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/Content/users/css/responsive.css" />
    <!-- colors css -->
    <link rel="stylesheet" href="~/Content/users/css/colors1.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/Content/users/css/custom.css" />
    <!-- wow Animation css -->
    <link rel="stylesheet" href="~/Content/users/css/animate.css" />
    <!-- revolution slider css -->
    <link href="~/Content/users/revolution/css/layers.css" rel="stylesheet" />
    <link href="~/Content/users/revolution/css/navigation.css" rel="stylesheet" />
    <link href="~/Content/users/revolution/css/settings.css" rel="stylesheet" />
    <!-- Supplier css -->
    <link href="~/Content/users/custom.css" rel="stylesheet" />
    <!-- Account css -->
    <link href="~/Content/users/css/account.css" rel="stylesheet" />
    <!-- Banner css -->
    <link href="~/Content/users/banner/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/Content/users/banner/vendor/animate/animate.css" rel="stylesheet" />
    <link href="~/Content/users/banner/vendor/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/users/banner/css/main.css" rel="stylesheet" />
    <link href="~/Content/users/banner/css/util.css" rel="stylesheet" />
    <!-- ShoppingCart css -->
    <link href="~/Content/users/css/checkoutItem.css" rel="stylesheet" />
    <!-- Mess css -->
    <link href="~/Content/users/css/mess.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="default_theme" class="it_service">
    <!-- loader -->
    <div class="bg_load"> <img class="loader_animation" src="@SettingHelper.GetValue("SettingLogo")" style="width:200px;height:250px" alt="#" /> </div>
    <!-- end loader -->
    <!-- header -->
    <header id="default_header" class="header_style_1">
        <!-- header top -->
        <div class="header_top container-menu-desktop">
            <div class="container" style="padding-left:0px;padding-right:0px">
                <div class="row">
                    <div class="col-md-8">
                        <div class="full">
                            <div class="topbar-left">
                                <ul class="list-inline">
                                    <li> <span class="topbar-label"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight">@SettingHelper.GetValue("SettingAddress")</span> </li>
                                    <li> <span class="topbar-label"><i class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="mailto:@SettingHelper.GetValue("SettingEmail")">@SettingHelper.GetValue("SettingEmail")</a></span> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="float-right">
                            <div class="social_icon" style="padding-top:12px">
                                <ul class="list-inline">
                                    <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a></li>
                                    <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a></li>
                                    <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a></li>
                                    <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a></li>
                                    <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a></li>
                                </ul>
                            </div>
                            <div class="account" id="account" style="width:200px; margin:0px auto">
                                <a href="#">
                                    Tài khoản
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="account_selection" id="account-selection">
                                    @Html.Partial("_LoginPartial")
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header top -->
        <!-- header bottom -->
        <div class="header_bottom ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <!-- logo start -->
                        <div class="logo"> <a href="/home/index"><img src="@SettingHelper.GetValue("SettingLogo")" alt="logo" /></a> </div>
                        <!-- logo end -->
                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <!-- menu start -->
                        <div class="menu_side">
                            <div id="navbar_menu">
                                <ul class="first-ul">
                                    <li>
                                        <a class="@((ViewBag.ActiveMenu == "Home") ? "active" : "")" href="/home/index">Trang Chủ</a>
                                    </li>
                                    <li>
                                        <a class="@((ViewBag.ActiveMenu == "News") ? "active" : "")" href="/news/index">Tin tức</a>
                                    </li>
                                    <li>
                                        <a class="@((ViewBag.ActiveMenu == "Sale") ? "active" : "")" href="/home/sale">Khuyến Mãi</a>
                                    </li>
                                    <li>
                                        <a class="@((ViewBag.ActiveMenu == "Products") ? "active" : "")" href="/products/index">Sản Phẩm</a>
                                    </li>
                                    <li>
                                        <a class="@((ViewBag.ActiveMenu == "Contact") ? "active" : "")" href="/home/contact">Liên Hệ</a>
                                    </li>
                                    <li class="js-show-cart">
                                        <a>
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            <span id="checkout_items" class="checkout_items">0</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header bottom end -->

    </header>
    <!-- end header -->
    <!-- Cart -->
    <div class="wrap-header-cart js-panel-cart">
        @Html.Action("Partial_Item_Cart", "ShoppingCart")
    </div>
    <!-- End Cart -->
    <!-- Mess -->
    @if (Request.IsAuthenticated)
    {
        <a href="#" class="chat-logo js-show-mess">
            <img src="~/Content/users/images/messenger-logo-png-6.png" alt="Tin nhắn" class="logo-icon">
            <div class="chat-view">
                <!-- Nội dung view chat -->
            </div>
        </a>
    }
    else
    {
        <!--Lấy đường dẫn URL sau local-->
        string returnUrl = HttpContext.Current.Request.Url.PathAndQuery;
        <!--Mã hóa đường dãn encode %-->
        string encodedReturnUrl = HttpUtility.UrlEncode(returnUrl);
        string loginUrl = "/Account/Login?ReturnUrl=" + encodedReturnUrl;
        <a href="@loginUrl" class="chat-logo">
            <img src="~/Content/users/images/messenger-logo-png-6.png" alt="Đăng Nhập" class="logo-icon">
        </a>
    }
    <div class="wrap-header-mess js-panel-mess ">
        @Html.Action("Partial_Chat", "ChatUser")
    </div>
    <!-- End Mess -->
    @RenderBody()
    <!-- footer -->
    <footer class="footer_style_2">
        <div class="container-fuild">
            <div class="row">
                <div class="map_section" style="padding:10px 0 10px 20px">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4205948965823!2d106.78291401465324!3d10.855580060696438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e7ea103df%3A0xb6cf10bb7d719327!2sThu%20Duc%20Campus%20Hutech%20khu%20E!5e0!3m2!1svi!2s!4v1680541105633!5m2!1svi!2s" style="border:0;  width:100%;height:350px " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="footer_blog">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="main-heading left_text">
                                <h2>Liên kết bổ sung</h2>
                            </div>
                            <ul class="footer-menu">
                                <li><a href="/home/index"><i class="fa fa-angle-right"></i> Trang chủ </a></li>
                                <li><a href="/products/index"><i class="fa fa-angle-right"></i> Sản phẩm </a></li>
                                <li><a href="/news/index"><i class="fa fa-angle-right"></i> Tin tức</a></li>
                                <li><a href="/home/contact"><i class="fa fa-angle-right"></i> Liên hệ</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="main-heading left_text">
                                <h2>Liên hệ với chúng tôi</h2>
                            </div>
                            <p style="width:400px">
                                @SettingHelper.GetValue("SettingAddress")<br />
                                <span style="font-size:18px;"><a href="tel:@SettingHelper.GetValue("SettingHotline")">@SettingHelper.GetValue("SettingHotline")</a></span>
                            </p>
                            <div class="footer_mail-section" style="float:inherit">
                                <form id="contactForm" action="@Url.Action("Partial_Contact", "Home")" method="post">
                                    @Html.AntiForgeryToken()
                                    <div class="field row" style="padding-left: 5px">
                                        <input placeholder="Email" id="Email" type="text">
                                        <button type="submit" class="button_custom"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cprt">
                    <p>HutechGear © Copyrights 2019 Design by html.design</p>
                </div>
            </div>
        </div>

    </footer>
    <!-- end footer -->
    <!-- js section -->
    <script src="~/Content/users/js/jquery.min.js"></script>
    <script src="~/Content/users/js/bootstrap.min.js"></script>
    <!-- menu js -->
    <script src="~/Content/users/js/menumaker.js"></script>
    <!-- wow animation -->
    <script src="~/Content/users/js/wow.js"></script>
    <!-- custom js -->
    <script src="~/Content/users/js/custom.js"></script>
    <!-- revolution js files -->
    <script src="~/Content/users/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/users/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/users/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Content/users/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Content/users/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Content/users/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Content/users/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Content/users/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Content/users/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Content/users/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/Content/users/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <!-- Banner js files -->
    <script src="~/Content/users/banner/vendor/slick/slick.min.js"></script>
    <script src="~/Content/users/banner/js/slick-custom.js"></script>
    <!-- shoppingCart js files -->
    <script src="~/Scripts/jsShopping.js"></script>
    <!-- Account js -->
    <script src="~/Content/login/js/accountShow.js"></script>
    <!-- Cart js -->
    <script src="~/Content/users/CartShow.js"></script>
    <!-- Mess js -->
    <script src="~/Content/users/MessShow.js"></script>
    <!-- Check input js -->
    <script src="~/Content/users/mainCheck.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Content/users/contact.js"></script>
    <!-- Loading cart js -->
    <script src="~/Content/users/checkOutCart.js"></script>
    <!-- SignalR js -->
    <script src="~/Scripts/jquery.signalR-2.4.3.js"></script>
    <script>
        $.connection.hub.url = '/signalr'; // Đường dẫn đến Hub SignalR
        $.connection.hub.logging = true; // Bật logging trong console (tùy chọn)
    </script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/chat.js"></script>

</body>
</html>