@using Web_Hutech_Gear.Models.Support
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>@SettingHelper.GetValue("SettingTitle")</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icons -->
    <link rel="icon" href="@SettingHelper.GetValue("SettingLogo")" type="image/gif" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Content/users/css/bootstrap.min.css" />
    <!-- Site css -->
    <link rel="stylesheet" href="~/Content/users/css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/Content/users/css/responsive.css" />
    <!-- colors css -->
    <link rel="stylesheet" href="~/Content/users/css/colors1.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/Content/users/css/custom.css" />
    <!-- wow Animation css -->
    <link rel="stylesheet" href="~/Content/users/css/animate.css" />
    <!-- revolution slider css -->
    <link href="~/Content/users/revolution/css/layers.css" rel="stylesheet" />
    <link href="~/Content/users/revolution/css/navigation.css" rel="stylesheet" />
    <link href="~/Content/users/revolution/css/settings.css" rel="stylesheet" />
    <link href="~/Content/users/revolution/css/style.css" rel="stylesheet" />

    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->
    @Scripts.Render("~/bundles/modernizr")

</head>
<body id="default_theme" class="it_service">
    <!-- loader -->
    <div class="bg_load"> <img class="loader_animation" src="@SettingHelper.GetValue("SettingLogo")" style="width:200px;height:250px" alt="#" /> </div>
    <!-- end loader -->
    <!-- header -->
    <header id="default_header" class="header_style_1">
        <!-- header top -->
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="full">
                            <div class="topbar-left">
                                <ul class="list-inline">
                                    <li> <span class="topbar-label"><i class="fa  fa-home"></i></span> <span class="topbar-hightlight">@SettingHelper.GetValue("SettingAddress")</span> </li>
                                    <li> <span class="topbar-label"><i class="fa fa-envelope-o"></i></span> <span class="topbar-hightlight"><a href="mailto:@SettingHelper.GetValue("SettingEmail")">@SettingHelper.GetValue("SettingEmail")</a></span> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 right_section_header_top">
                        <div class="float-left">
                            <div class="social_icon">
                                <ul class="list-inline">
                                    <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook" target="_blank"></a></li>
                                    <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+" target="_blank"></a></li>
                                    <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter" target="_blank"></a></li>
                                    <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn" target="_blank"></a></li>
                                    <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram" target="_blank"></a></li>
                                </ul>
                            </div>
                        </div>
                        <link href="~/Content/users/css/account.css" rel="stylesheet" />
                        <div class="float-right">
                            <li class="account">
                                <a href="#">
                                    My Account
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="account_selection">
                                    <li>  @Html.Partial("_LoginPartial")</li>
                                </ul>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header top -->
        <!-- header bottom -->
        <div class="header_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <!-- logo start -->
                        <div class="logo"> <a href="/home/index"><img src="@SettingHelper.GetValue("SettingLogo")" alt="logo" /></a> </div>
                        <!-- logo end -->
                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <!-- menu start -->
                        <div class="menu_side">
                            <div id="navbar_menu">
                                <ul class="first-ul">
                                    <li>
                                        <a class="active" href="/home/index">Trang Chủ</a>
                                        <ul>
                                            <li><a href="it_home.html">It Home Page</a></li>
                                            <li><a href="it_home_dark.html">It Dark Home Page</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="it_about.html">About Us</a></li>
                                    <li>
                                        <a href="it_service.html">Service</a>
                                        <ul>
                                            <li><a href="it_service_list.html">Services list</a></li>
                                            <li><a href="it_service_detail.html">Services Detail</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="it_blog.html">Blog</a>
                                        <ul>
                                            <li><a href="it_blog.html">Blog List</a></li>
                                            <li><a href="it_blog_grid.html">Blog Grid</a></li>
                                            <li><a href="it_blog_detail.html">Blog Detail</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Pages</a>
                                        <ul>
                                            <li><a href="it_career.html">Career</a></li>
                                            <li><a href="it_price.html">Pricing</a></li>
                                            <li><a href="it_faq.html">Faq</a></li>
                                            <li><a href="it_privacy_policy.html">Privacy Policy</a></li>
                                            <li><a href="it_error.html">Error 404</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/home/detail">Shop</a>                                  
                                    </li>
                                    <li>
                                        <a href="/home/contact">Liên Hệ</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="search_icon">
                                <ul>
                                    <li><a href="#" data-toggle="modal" data-target="#search_bar"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header bottom end -->
    </header>
    <!-- end header -->
    @RenderBody()
    <!-- footer -->
    <footer class="footer_style_2">
        <div class="container-fuild">
            <div class="row">
                <div class="map_section" style="padding:10px 0 10px 20px">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4205948965823!2d106.78291401465324!3d10.855580060696438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e7ea103df%3A0xb6cf10bb7d719327!2sThu%20Duc%20Campus%20Hutech%20khu%20E!5e0!3m2!1svi!2s!4v1680541105633!5m2!1svi!2s" style="border:0;  width:100%;height:350px " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="footer_blog">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="main-heading left_text">
                                <h2>Additional links</h2>
                            </div>
                            <ul class="footer-menu">
                                <li><a href="it_about.html"><i class="fa fa-angle-right"></i> About us</a></li>
                                <li><a href="it_term_condition.html"><i class="fa fa-angle-right"></i> Terms and conditions</a></li>
                                <li><a href="it_privacy_policy.html"><i class="fa fa-angle-right"></i> Privacy policy</a></li>
                                <li><a href="it_news.html"><i class="fa fa-angle-right"></i> News</a></li>
                                <li><a href="it_contact.html"><i class="fa fa-angle-right"></i> Contact us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div class="main-heading left_text">
                                <h2>Liên hệ với chúng tôi</h2>
                            </div>
                            <p style="width:400px">
                                @SettingHelper.GetValue("SettingAddress")<br />
                                <span style="font-size:18px;"><a href="tel:@SettingHelper.GetValue("SettingHotline")">@SettingHelper.GetValue("SettingHotline")</a></span>
                            </p>
                            <div class="footer_mail-section" style="float:inherit">
                                <form>
                                    <fieldset>
                                        <div class="field">
                                            <input placeholder="Email" type="text">
                                            <button class="button_custom"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cprt">
                    <p>ItNext © Copyrights 2019 Design by html.design</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- js section -->
    <script src="~/Content/users/js/jquery.min.js"></script>
    <script src="~/Content/users/js/bootstrap.min.js"></script>
    <!-- menu js -->
    <script src="~/Content/users/js/menumaker.js"></script>
    <!-- wow animation -->
    <script src="~/Content/users/js/wow.js"></script>
    <!-- custom js -->
    <script src="~/Content/users/js/custom.js"></script>
    <!-- revolution js files -->
    <script src="~/Content/users/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/users/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/users/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Content/users/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Content/users/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Content/users/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Content/users/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Content/users/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Content/users/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Content/users/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="~/Content/users/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>



@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@
