@model Web_Hutech_Gear.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@*<h4>Use another service to log in.</h4>*@
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div class="alert alert-warning" role="alert">
            There are no external authentication services configured. Please contact the administrator.
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>Sign in using:</p>
                <div class="btn-group" role="group" aria-label="External Logins">
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        var iconClass = "";
                        switch (p.AuthenticationType)
                        {
                            case "Facebook":
                                iconClass = "fa fa-facebook";
                                break;
                            case "Google":
                                iconClass = "fa fa-google";
                                break;
                            default:
                                iconClass = "fa fa-external-link";
                                break;
                        }
                        <button type="submit" class="btn btn-outline-secondary" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType">
                            <i class="@iconClass"></i> @p.Caption
                        </button>
                    }
                </div>
            </div>
        }
    }
}

