@using Web_Hutech_Gear.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<style>
    .input-icon {
        position: relative;
    }

    .input-icon-toggle {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        cursor: pointer;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/main.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
        <div class="limiter">
            <div class="container-login100" style="background-image: url('@Url.Content("~/Content/login/images/bg-01.jpg")');">
                <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login100-form validate-form" }))
                    {
                        @Html.AntiForgeryToken()
                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                        if (TempData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger">@TempData["ErrorMessage"].ToString()</div>
                        }
                        <span class="login100-form-title p-b-49">
                            LOGIN
                        </span>
                        <div class="wrap-input100 input m-b-23">
                            <span class="label-input100">Tên tài khoản</span>
                            @Html.TextBoxFor(m => m.Account, new { @class = "input100", placeholder = "Nhập tài khoản của bạn" })
                            @Html.ValidationMessageFor(m => m.Account, "", new { @class = "text-danger" })
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                        </div>
                        <div class="wrap-input100 input">
                            <span class="label-input100">Mật Khẩu</span>
                            <div class="input-icon">
                                <input type="password" class="input100" id="id_password" name="Password" placeholder="Nhập mật khẩu của bạn" />
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                <i class="far fa-eye input-icon-toggle" id="togglePassword"></i>
                            </div>
                            <span class="focus-input100" data-symbol="&#xf190;"></span>
                        </div>
                        <div class="text-right p-t-8 p-b-31">
                            <h6>@Html.ActionLink("Quên mật khẩu ?", "ForgotPassword")</h6>
                        </div>
                        <div class="text-left p-t-8 p-b-31">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button type="submit" class="login100-form-btn">
                                    Đăng nhập
                                </button>
                            </div>
                        </div>
                    }
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>
            </div>
        </div>
        <div id="dropDownSelect1"></div>

        <!--===============================================================================================-->
        <script src="~/Content/login/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/login/vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/login/vendor/bootstrap/js/popper.js"></script>
        <script src="~/Content/login/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/login/vendor/select2/select2.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/login/vendor/daterangepicker/moment.min.js"></script>
        <script src="~/Content/login/vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/login/vendor/countdowntime/countdowntime.js"></script>
        <!--===============================================================================================-->
        <script src="~/Content/login/js/main.js"></script>

</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(document).ready(function () {
        const togglePassword = $('#togglePassword');
        const password = $('#id_password');

        togglePassword.on('click', function (e) {
            // toggle the type attribute
            const type = password.attr('type') === 'password' ? 'text' : 'password';
            password.attr('type', type);
            // toggle the eye slash icon
            togglePassword.toggleClass('fa-eye fa-eye-slash');
        });
    });

</script>