@model Web_Hutech_Gear.Models.UpDate
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@using Web_Hutech_Gear.Models
@{
    ViewBag.Title = "Cập nhật tài khoản";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thôn tin người dùng</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/profile/userProfile.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <div style="padding-top:150px"></div>
    <form action="/Account/Update" method="post" role="form" class="signup-form" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="avatar-container">
            <div class="avatar-preview">
                @{
                    IdentityDbContext<ApplicationUser> context = new IdentityDbContext<ApplicationUser>();
                    var ID = User.Identity.GetUserId();
                    var find = context.Users.FirstOrDefault(p => p.Id == ID);
                    if (!string.IsNullOrEmpty(find.Avatar))
                    {
                        <img alt="User Image" src="~/Content/Images/@find.Avatar" id="preview-image" />
                    }
                    else
                    {
                        <img alt="User Image" src="~/Content/Images/avt.jpg" id="preview-image" />
                    }
                }
            </div>
            <div class="avatar-upload">
                <input type="file" name="ImageFile" id="ImageFile" value="@find.Avatar" accept=".png, .jpg, .jpeg" />
            </div>
        </div>
        <div class="form-fields">
            <div class="form-field">
                <div style="display: flex; align-items: center; padding-bottom:10px">
                    <label for="fullname">Họ và tên:</label>
                    <i class='fas fa-pencil-alt' style='font-size:24px; margin-left:-110px;'></i>
                </div>
                <input type="text" id="FullName" name="FullName" value="@find.FullName" style="width: 100%;">
                @Html.ValidationMessageFor(row => row.FullName)
            </div>
            <div class="form-field">
                <div style="display: flex; align-items: center; padding-bottom:10px">
                    <label for="username">Tên tài khoản:</label>
                    <i class='fas fa-user-circle' style='font-size:24px; margin-left:-140px;'></i>
                </div>
                <input type="text" id="UserName" name="UserName" value="@find.UserName" readonly>
            </div>
            <div class="form-field">
                <div style="display: flex; align-items: center; padding-bottom:10px">
                    <label for="email">Email:</label>
                    <i class="material-icons" style='font-size: 24px; margin-left: -87px;'>email</i>
                </div>
                <input type="email" id="Email" name="Email" value="@find.Email" readonly>
            </div>
            <div class="form-field">
                <div style="display: flex; align-items: center; padding-bottom:10px">
                    <label for="phone">Số điện thoại:</label>
                    <i class='fas fa-phone-square-alt' style='font-size: 24px; margin-left: -137px;'></i>
                </div>
                <input type="tel" id="Phone" name="Phone" value="@find.PhoneNumber">
                @Html.ValidationMessageFor(row => row.Phone)
            </div>
            <div class="form-field">
                <div style="display: flex; align-items: center; padding-bottom:10px">
                    <label for="address">Địa chỉ:</label>
                    <i class="fa fa-home" style='font-size: 24px; margin-left: -100px;'></i>
                </div>
                <input type="text" id="Address" name="Address" value="@find.Address">
                @Html.ValidationMessageFor(row => row.Address)
            </div>
            <div class="submit-button">
                <input type="submit" value="Lưu Thay Đổi" class="custom-submit">
            </div>
        </div>
    </form>
    <div class="other-features">
        <div class="manage-link">
            @Html.ActionLink("Tính năng khác!", "Index", "Manage", new { area = "" }, htmlAttributes: new { title = "Manage" })
        </div>
    </div>
    <div style="padding-bottom:50px">

    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
<script>
    // Lấy phần tử đầu vào hình ảnh và phần tử hình ảnh xem trước
    const input = document.getElementById("ImageFile");
    const preview = document.getElementById("preview-image");
    // Đăng ký một sự kiện để lắng nghe khi người dùng chọn tệp hình ảnh mới
    input.addEventListener("change", () => {
        // Nếu không có tệp được chọn, hãy giữ hình ảnh hiện có
        if (!input.files || !input.files[0]) {
            return;
        }
        // Tạo một đối tượng FileReader để đọc nội dung của tệp hình ảnh
        const reader = new FileReader();
        // Đăng ký một sự kiện để lắng nghe khi FileReader đã hoàn thành việc đọc tệp
        reader.addEventListener("load", () => {
            // Cập nhật hình ảnh xem trước với nội dung của tệp hình ảnh mới
            preview.src = reader.result;
        });
        // Đọc tệp hình ảnh
        reader.readAsDataURL(input.files[0]);
    });
</script>