@model Web_Hutech_Gear.Models.UpDate
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@using Web_Hutech_Gear.Models
@{
    ViewBag.Title = "Cập nhật tài khoản";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/profile/userProfile.css" />
   
</head>
<body>
    <form action="/Account/Update" method="post" role="form" class="signup-form" enctype="multipart/form-data" >
        @Html.AntiForgeryToken()
        <div class="container light-style flex-grow-1 container-p-y">
            <div class="card overflow-hidden">
                <div class="row no-gutters row-bordered row-border-light">
                    <div class="col-md-3 pt-0">
                        <div class="list-group list-group-flush account-settings-links">
                            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">Tổng quan</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Đổi mật khẩu</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="account-general">

                                <div class="card-body media align-items-center">
                                    <div class="avatar-preview">
                                        @{
                                            IdentityDbContext<ApplicationUser> context = new IdentityDbContext<ApplicationUser>();
                                            var ID = User.Identity.GetUserId();
                                            var find = context.Users.FirstOrDefault(p => p.Id == ID);
                                            if (!string.IsNullOrEmpty(find.Avatar))
                                            {
                                                <img alt="User Image" src="~/Content/Images/@find.Avatar" id="preview-image" />
                                            }
                                            else
                                            {
                                                <img alt="User Image" src="~/Content/Images/avt.jpg" id="preview-image" />
                                            }
                                        }
                                    </div>
                                    <div class="media-body ml-4">
                                        <label class="btn btn-outline-primary">
                                            Upload new photo
                                            <input type="file" class="account-settings-fileinput" name="ImageFile" id="ImageFile" value="@find.Avatar" accept=".png, .jpg, .jpeg">
                                        </label> &nbsp;
                                        <button type="button" class="btn btn-default md-btn-flat" onclick="resetImage()">Reset</button>
                                        <div class="text-light small mt-1">Cho phép JPG, PNG, JPEG.</div>
                                    </div>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="form-label">Họ và tên:</label>
                                        <input type="text" class="form-control mb-1" id="FullName" name="FullName" value="@find.FullName">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Tên tài khoản:</label>
                                        <input type="text" class="form-control" id="UserName" name="UserName" value="@find.UserName" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">E-mail:</label>
                                        <input type="text" class="form-control mb-1" id="Email" name="Email" value="@find.Email" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Số điện thoại:</label>
                                        <input type="text" class="form-control" id="Phone" name="Phone" value="@find.PhoneNumber">
                                        @Html.ValidationMessageFor(row => row.Phone)
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Địa chỉ:</label>
                                        <input type="text" class="form-control" id="Address" name="Address" value="@find.Address">
                                        @Html.ValidationMessageFor(row => row.Address)
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="account-change-password">
                                <div class="card-body pb-2">

                                    <div class="form-group">
                                        <label class="form-label">Nhập mật khẩu cũ</label>
                                        <input type="password" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">Nhập mật khẩu mới</label>
                                        <input type="password" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">Nhập lại mật khẩu mới</label>
                                        <input type="password" class="form-control">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right mt-3">
                <button type="submit" class="btn btn-primary">Save changes</button>&nbsp;
                <button type="button" class="btn btn-default" onclick="cancelChanges()">Cancel</button>
            </div>
        </div>
        </form>
        @*<div class="other-features">
            <div class="manage-link">
                @Html.ActionLink("Tính năng khác!", "Index", "Manage", new { area = "" }, htmlAttributes: new { title = "Manage" })
            </div>
        </div>*@
        <div style="padding-bottom:50px">

        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
</body>
<script>
    // Lấy phần tử đầu vào hình ảnh và phần tử hình ảnh xem trước
    const input = document.getElementById("ImageFile");
    const preview = document.getElementById("preview-image");
    // Đăng ký một sự kiện để lắng nghe khi người dùng chọn tệp hình ảnh mới
    input.addEventListener("change", () => {
        // Nếu không có tệp được chọn, hãy giữ hình ảnh hiện có
        if (!input.files || !input.files[0]) {
            return;
        }
        // Tạo một đối tượng FileReader để đọc nội dung của tệp hình ảnh
        const reader = new FileReader();
        // Đăng ký một sự kiện để lắng nghe khi FileReader đã hoàn thành việc đọc tệp
        reader.addEventListener("load", () => {
            // Cập nhật hình ảnh xem trước với nội dung của tệp hình ảnh mới
            preview.src = reader.result;
        });
        // Đọc tệp hình ảnh
        reader.readAsDataURL(input.files[0]);
    });
</script>
<script>
    function resetImage() {
        // Thay đổi nguồn hình ảnh về giá trị mặc định
        document.getElementById("preview-image").src = "~/Content/Images/avt.jpg";
        // Xóa giá trị của input file
        document.getElementById("ImageFile").value = "";
    }
</script>
<script>
    function cancelChanges() {
        // Thực hiện các hành động cần thiết khi nhấn nút "Cancel"
        // Ví dụ: Chuyển hướng đến một trang khác hoặc làm sạch form

        // Ví dụ: Chuyển hướng đến trang "/dashboard"
        window.location.href = "/home/index";
    }
</script>
