@model IEnumerable<Web_Hutech_Gear.Models.EF.ProductImage>
@using Web_Hutech_Gear.Models;

@{
    ViewBag.Title = "Ảnh sản phảm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";


}
<style>
    .glImage {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

        .glImage li {
            /*flex-direction:*/
            display: inline-block;
            position: relative;
        }

    .box-btn {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
        overflow: scroll;
    }
</style>
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Ảnh sản phẩm</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-danger btnDeleteAll" title="Collapse">
                    Xóa hết
                </button>
                <input type="button" value="Tải ảnh" class="btn btn-success" onclick="BrowseServer('txtImage');" />
            </div>
        </div>
        <div class="card-body">
            <ul class="glImage" id="trow">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <li id="trow_@item.Id">
                            <img src="@item.Image" width="200" />
                            <div class="box-btn">
                                <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete"><i class="fa fa-trash"></i></a>
                                @if (item.IsDefault)
                                {
                                    <a href="#" data-id="@item.Id" class="btn btn-sm btn-success btnDefault"><i class="fa fa-check"></i></a>
                                }
                                else
                                {
                                    <a href="#" data-id="@item.Id" class="btn btn-sm btn-success btnDefault">X</a>
                                }
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

<script>
    function BrowseServer(field) {
        var finder = new CKFinder();
        finder.selectActionFunction = function (fileUrl) {
            debugger;
            AddImage(@ViewBag.productId, fileUrl);
        };
        finder.popup();
    }
    function AddImage(id, url) {
        debugger;
        $.ajax({
            url: '/admin/productimage/AddImage',
            type: 'POST',
            data: { productId: id, url: url },
            success: function (rs) {
                if (rs.Success) {
                    window.location.reload();
                }
            }
        });
    }
    $(document).ready(function () {
        $('body').on('click', '.btnDelete', function () {
            var id = $(this).data('id');
            var conf = confirm('Bạn có muốn xóa ảnh này không?');
            if (conf === true) {
                $.ajax({
                    url: '/admin/productimage/delete',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            $('#trow_' + id).remove();
                        }
                    }
                });
            }
        });
    });
    $(document).ready(function () {
        $('body').on('click', '.btnDeleteAll', function () {
            var conf = confirm('Bạn có muốn xóa ảnh này không?');
            if (conf === true) {
                $.ajax({
                    url: '/admin/productimage/deleteall',
                    type: 'POST',
                    success: function (rs) {
                        if (rs.success) {
                           $('#trow').remove();
                         }
                   }
                });
            }
        });
    });
    $('body').on('click', '.btnDefault', function (e) {
        e.preventDefault();
        var btn = $(this);
        var id = btn.data("id");
        $.ajax({
            url: '/admin/productimage/IsDefault',
            type: 'POST',
            data: { id: id },
            success: function (rs) {
                if (rs.success) {
                    if (rs.IsDefault) {
                        btn.html("<i class='fa fa-check'></i>");
                    } else {
                        btn.html("<i class='fa fa-times'></i>");
                    }
                }

            }
        });
    });
</script>