@model PagedList.PagedList<Web_Hutech_Gear.Models.EF.Product>
@using PagedList.Mvc
@using Web_Hutech_Gear.Models.Support
<div class="row">
    @{
        foreach (var item in Model)
        {

            <div class="col-md-4 col-sm-6 col-xs-12 margin_bottom_30_all block2-pic">
                <div class="product_list">
                    <div class="product_img"> <img class="img-responsive" style="height:180px;width:300px" src="@item.Image" alt=""> </div>
                    <div class="product_detail_btm">
                        <div class="center">
                            <h4 style="width: auto; height: 100px; overflow: hidden; word-wrap: break-word; "><a href="~/Products/Detail?id=@item.Id">@item.Title</a></h4>
                        </div>
                        <div class="starratin">
                            <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                        </div>
                        <div class="product_price">
                            <p>
                                @if (item.IsSale)
                                {
                                    <span class="old_price">@Common.FormatNumber(item.PriceSale, 0)<sup>đ</sup></span>
                                    <span>-</span>
                                }
                                <span class="new_price">@Common.FormatNumber(item.Price, 0)<sup>đ</sup></span>
                            </p>
                        </div>
                        <div class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                            <input type="text" id="quantity_value" style="display:none" value="1">
                            <div class="btn btnAddToCart" data-id="@item.Id">Thêm vào giỏ hàng</div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
<!--Phân trang-->
<div class="row" style="justify-content: center">
    <div class="col-6" style="text-align:right;">
        @Html.PagedListPager(Model, page => Url.Action("Partial_Procducts", new { page, currentFilter = ViewBag.CurrentFilter, currentId = ViewBag.CurrentId, supplierId = ViewBag.currentSpId, min = ViewBag.currentMin, max = ViewBag.currentMax }), new PagedListRenderOptions { DisplayLinkToIndividualPages = true })
    </div>
</div>
<!--Hiển thị thêm giỏ hàng-->
<style>
    .block2-pic {
        position: relative;
    }

    .block2-btn {
        position: absolute;
        bottom: -20px;
        left: 50%;
        color: #ffffff;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: -1;
    }

    .block2-pic:hover .block2-btn {
        background-color: #3bc9fa;
        color: #ffffff;
        bottom: 50px;
        z-index: 50;
    }
</style>