@model PagedList.PagedList<Web_Hutech_Gear.Models.EF.Product>
@using PagedList.Mvc
@using Web_Hutech_Gear.Models.Support
@using Web_Hutech_Gear.Models


@if (Model.Count() == 0)
{
    <div class="SearchLayout_noResultsContainer__YExPa">
        <div class="SearchLayout_imageWrapper__3T59V">
            <img src="~/Content/users/images/empty-product.png" alt="no products found" />
        </div>
        <h7>Xin lỗi, không tìm thấy sản phẩm nào. Vui lòng thử tìm kiếm khác!!!</h7>
    </div>
}
else
{
    <div class="row">
        @{
            ApplicationDbContext db = new ApplicationDbContext();
            foreach (var item in Model)
            {
                var ListRating = db.Rateds.Where(p => p.ProductId == item.Id).ToList();
                var averageRating = ListRating?.Any() == true ? ListRating.Average(p => p.Rating) : 5;
                <div class="col-md-4 col-sm-6 col-xs-12 margin_bottom_30_all block2-pic">
                    <div class="product_list">
                        <a href="~/Products/Detail?id=@item.Id">
                            <div class="product_img"> <img class="img-responsive" style="height:180px;width:300px" src="@item.Image" alt=""> </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4 style="width: auto; height: 100px; overflow: hidden; word-wrap: break-word; ">@item.Title</h4>
                                </div>
                                <div class="starratin">
                                    <div class="center">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            <i class="fa fa-star@(i <= averageRating ? "" : "-o")" aria-hidden="true"></i>
                                        }
                                    </div>
                                </div>
                                <div class="product_price">
                                    <p>
                                        @if (item.IsSale)
                                        {
                                            <span class="old_price">@Common.FormatNumber(item.Price, 0)<sup>đ</sup></span>
                                            <span>-</span>
                                            <span class="new_price">@Common.FormatNumber(item.PriceSale, 0)<sup>đ</sup></span>

                                        }
                                        else
                                        {
                                            <span class="new_price">@Common.FormatNumber(item.Price, 0)<sup>đ</sup></span>
                                        }
                                    </p>
                                </div>
                                <div class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                    <input type="text" id="quantity_value" style="display:none" value="1">
                                    <div class="btn btnAddToCart" data-id="@item.Id">Thêm vào giỏ hàng</div>
                                </div>
                            </div>
                            @if (item.IsSale)
                            {
                                <span class="product-badge product-badge-sale">Sale</span>
                            }
                            else if (item.IsHot)
                            {
                                <span class="product-badge product-badge-new">Hot</span>
                            }
                        </a>
                    </div>
                </div>
            }
        }
    </div>
    <!--Phân trang-->
    if (Model.PageCount > 1)
    {
        <div class="row" style="justify-content: center">
            <div class="col-6" style="text-align:right;">
                @Html.PagedListPager(Model, page => Url.Action("Partial_Procducts", new { page, currentFilter = ViewBag.CurrentFilter, currentId = ViewBag.CurrentId, currentSpId = ViewBag.CurrentSpId, currentMin = ViewBag.CurrentMin, currentMax = ViewBag.CurrentMax }), new PagedListRenderOptions { DisplayLinkToIndividualPages = true })
            </div>
        </div>
    }
}

<style>
    .SearchLayout_noResultsContainer__YExPa {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }
</style>
<head>
    <link href="~/Content/users/status.css" rel="stylesheet" />
</head>