@model Web_Hutech_Gear.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/main.css">
    <!--===============================================================================================-->
    

</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('@Url.Content("~/Content/login/images/bg-01.jpg")');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "login100-form validate-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <span class="login100-form-title p-b-49">
                        Change Password
                    </span>
                    <div class="wrap-input100 validate-input m-b-23" data-validate="Nhập mật khẩu là bắt buộc">
                        <span class="label-input100">Mật khẩu cũ</span>
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "input100", placeholder = "Nhập mật khẩu cũ của bạn" })
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-23" data-validate="Nhập mật khẩu là bắt buộc">
                        <span class="label-input100">Mật khẩu mới</span>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "input100", placeholder = "Nhập mật khẩu mới của bạn" })
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-23" data-validate="Nhập mật khẩu là bắt buộc">
                        <span class="label-input100">Nhập lại mật khẩu mới</span>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input100", placeholder = "Nhập lại mật khẩu mới của bạn" })
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>
                    
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button type="submit" class="login100-form-btn">
                                Thay đổi
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/js/main.js"></script>

</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
