@model Web_Hutech_Gear.Models.ApplicationUser
@using (Html.BeginForm("Checkout", "ShoppingCart", FormMethod.Post, new { id = "checkout-form" }))
{
    @Html.AntiForgeryToken()
    <div class="checkout-form">
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-field">
                        <label>Họ và tên:</label>
                        @Html.DisplayFor(model => model.FullName)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-field">
                        <label>Địa chỉ:</label>
                        @Html.DisplayFor(model => model.Address)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-field">
                        <label>Số điện thoại:</label>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-field">
                        <label>Email:</label>
                        @Html.DisplayFor(model => model.Email)
                    </div>
                </div>
                <div class="col-md-12 form-group">
                    <label>Hình thức thanh toán</label>
                    <select class="form-control" name="TypePayment">
                        <option value="1" selected>COD</option>
                        <option value="2">Chuyển khoản</option>
                    </select>
                </div>
                <div class="col-md-12 form-group center">
                    <button type="submit" class="bt_main">Đặt hàng</button>
                </div>
            </div>
        </fieldset>
    </div>
}


