@model IEnumerable<Web_Hutech_Gear.Models.VNPay.ShoppingCartItem>
@using Web_Hutech_Gear.Models.Support;


@if (Model != null && Model.Any())
{
    var tongtien = decimal.Zero;
    <div class="shopping-cart-cart" style="float:initial; max-width:600px">
        <table>
            <tbody>
                <tr class="head-table">
                    <td><h5>Giỏ hàng</h5></td>
                    <td></td>
                    <td class="text-right" style="padding-right:20px;"><h1 style="color: #ff0000;"><span>@Model.Count()</span></h1></td>
                </tr>
                @foreach (var item in Model)
                {
                    tongtien += item.TotalPrice;
                    <tr>
                        <td><div style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width:170px"><h4>@item.ProductName</h4></div></td>
                        <td><h4>@item.Quantity</h4></td>
                        <td class="text-right"><h4>@Common.FormatNumber(item.Price * item.Quantity, 0)</h4></td>
                    </tr>
                }

                <tr>
                    <td><h3>Tổng tiền</h3></td>
                    <td></td>
                    <td class="text-right"><h3>@Common.FormatNumber(tongtien, 0)</h3></td>
                </tr>
            </tbody>
        </table>
    </div>

}

