@model IEnumerable<Web_Hutech_Gear.Models.VNPay.ShoppingCartItem>
@using Web_Hutech_Gear.Models.Support
<div class="s-full js-hide-cart"></div>
<div class="header-cart flex-col-l" style="padding-right:10px;padding-left:20px;">
    <div class="header-cart-title flex-w flex-sb-m p-b-8 " style="padding-left:55px;">
        <span class="mtext-103" style="font-family: Arial; font-weight: bolder;font-size:18px">
            Giỏ hàng của bạn
        </span>

        <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart" style="font-size:18px">
            <i class="zmdi zmdi-close"></i>
        </div>
    </div>
    <div class="header-cart-content flex-w js-pscroll">
        @if (Model != null && Model.Any())
        {
            var i = 0;
            var tongtien = decimal.Zero;
            var khuyenmai = decimal.Zero;
            <ul class="header-cart-wrapitem w-full">
                @foreach (var item in Model)
                {
                    tongtien += item.TotalPrice;
                    khuyenmai += item.TotalPriceSale;
                    <li class="header-cart-item flex-w flex-t m-b-12" id="trow_@item.ProductId">
                        <div class="header-cart-item-img btnDelete" data-id="@item.ProductId">
                            <img src="@item.ProductImg" alt="IMG">
                        </div>

                        <div class="header-cart-item-txt">
                            <a href="/Products/Detail?id=@item.ProductId" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                @item.ProductName
                            </a>
                            <span class="header-cart-item-info">
                                @item.Quantity x  @Common.FormatNumber(item.Price, 0)
                            </span>
                        </div>
                    </li>
                    i++;
                }
            </ul>
            <div class="w-full">
                <div class="header-cart-total w-full p-tb-40">
                    Tổng cộng: @Common.FormatNumber(tongtien - khuyenmai, 0)
                </div>

                <div class="header-cart-buttons flex-w w-full">
                    <a style="font-family: Arial; font-size:17px" href="/shoppingcart/index" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                        Chi tiết giỏ hàng
                    </a>

                    <a style="font-family: Arial;font-size:17px" href="/shoppingcart/checkout" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                        Đặt Hàng
                    </a>
                </div>
            </div>
        }
        else
        {

            <h4 colspan="7">Không có sản phẩm trong giỏ hàng!!</h4>
        }
    </div>
</div>

<style>
    .btnDelete {
        position: relative;
    }

        .btnDelete::after {
            content: 'x';
            font-size: 16px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.5);
            color: #fff;
            transition: all 0.3s;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            -moz-transition: all 0.3s;
            opacity: 0;
        }

        .btnDelete:hover::after {
            opacity: 1;
        }

</style>